* {
	color: #eaf27c;
	font-family: 'Cascadia Code', monospace;
}
/* 
    * TODO: find a way to put the main class in the center of the screen 
*/

body {
	background-color: #0b0033;
	display: flex;
	justify-content: center;
}

.main {
	background-color: #370031;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4rem;
	border-radius: 10px;
}

.threadDiv {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#thread {
}

.postCollection,
input,
button {
	background-color: #834848;
	padding: 10px;
	border-radius: 10px;
	border: none;
}

a:hover {
	text-decoration: underline;
}

.footer {
	text-align: center;
	padding: 10px;
}

h4 {
	text-decoration: underline;
}

#username {
	font-size: 15px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postText {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postsFoot {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.postsFoot > input {
	border-color: #000000 mo !important;
	border-width: 3px;
}

.newThreadDiv {
	display: flex;
	padding: 10px;
}

.signOutDiv {
	display: flex;
	justify-content: right;
	font-size: 15px;
	padding-bottom: 10px;
}
